
server:
  port: 9000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/library_jbdl?createDatabaseIfNotExist=true
    username: root
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update